.titulo app-boton-expe {
    float: right;
}
.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
     text-align: center;
     padding: 3.5rem 0;
    
  }
  .main-title h2 span {
    color:#27AE60;
  }

.main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #2a2e35;    
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
  }
