<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lq-1"></div>
       <div class="col-lq-11">
            <ul>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi aperiam cumque saepe officia! Vel voluptate
                aspernatur earum nisi molestias velit, quisquam architecto! Adipisci iste ex asperiores quod odit veritatis!</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 2</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi aperiam cumque saepe officia! Vel voluptate
                aspernatur earum nisi molestias velit, quisquam architecto! Adipisci iste ex asperiores quod odit veritatis!</p>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 3</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat sequi aperiam cumque saepe officia! Vel voluptate
                aspernatur earum nisi molestias velit, quisquam architecto! Adipisci iste ex asperiores quod odit veritatis!</p>
            </ul>
        </div>

</div>




