 
    <app-header></app-header>        
    <header class="py-5 bg-gradient" > 
      <app-cabecera></app-cabecera>
    </header>
    <section class="py-5" id="sobremi">
      <app-sobremi></app-sobremi>
    </section>
    <section class="py-5 " id="experiencia">
      <app-experiencia></app-experiencia>
    </section>
    <section class="py-5 " id="educacion">
      <app-educacion></app-educacion>
    </section>
    <section class="py-5" id="habilidad">
      <app-habilidad></app-habilidad>
    </section>
    <section class="py-5" id="proyecto">
      <app-proyecto></app-proyecto>
    </section>
    <footer class="py-5" id="footer"> 
      <app-footer></app-footer>
    </footer>     

    


