
#edit {
    margin: 0px 0px 0px 10px;
}

#edit:hover {
    color: rgb(156, 156, 156);
}

#delete:hover {
    color: brown;
}

fa-icon:hover {
    font-size: 20px;
}

fa-icon {
    cursor: pointer;
   float: right;
   padding: 2px;
}


  .container { 
    background-color: #191d2b;
  }

  .about-container {   
    padding-top: 3.5rem;
    padding-bottom: 5rem;
  }
   .about-container .left-about {
    text-align: center;
  
  }
  .about-container .left-about p {
    line-height: 2rem;
    padding: 1rem;
    color: #dbe1e8;
  }
  .about-container .left-about h4 {
    font-size: 2rem;
    text-transform: uppercase;
  }
 
