

  <section class="container contact" id="contact">
    <div class="contact-container">
        <div class="main-title">
            <h2>Contac<span>to</span><span class="bg-text">Contacto</span></h2>
        </div>
        <div class="contact-content-con">
            <div class="left-contact">
                <h4>Datos de contacto</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    In, laborum numquam? Quam excepturi perspiciatis quas quasi.
                </p>
                <div class="contact-info">
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Ubicacion</span>
                        </div>
                        <p>
                             Cordoba, Argentina
                        </p>
                    </div>
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                            <span>Email</span>
                        </div>
                        <p>
                            <span> maxi.b88@gmail.com</span>
                        </p>
                    </div>
                   
                    <div class="contact-item">
                        <div class="icon">
                            <i class="fas fa-user-graduate"></i>
                            <span>Tel.:</span>
                        </div>
                        <p>
                            <span> 3518196965</span>
                        </p>
                    </div>
                    
                </div>
                <div class="contact-icons">
                    <div class="contact-icon">
                        <a href="www.facebook.com" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="right-contact">
                <form action="" class="contact-form">
                    <div class="input-control i-c-2">
                        <input type="text" required placeholder="TU NOMBRE">
                        <input type="email" required placeholder="TU EMAIL">
                    </div>
                    <div class="input-control">
                        <input type="text" required placeholder="ASUNTO">
                    </div>
                    <div class="input-control">
                        <textarea name="" id="" cols="15" rows="8" placeholder="Mensaje..."></textarea>
                    </div>
                    <div class="submit-btn">
                        <a href="#" class="main-btn">
                            <span class="btn-text">Enviar</span>
                            
                            
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

  <div class="container-fluid my-5">
  <p class="m-0 text-left text-white" id="nomFoot">Maximiliano Bracamonte | © Argentina Programa 2022</p>
  <p class="m-0 text-right text-white" id="Lugar">Córdoba, Argentina</p>
  </div>
